<div class="navigation">
	<nav class="navbar bg-white bg-shadow">
		<div class="row">
			<div class="col text-left">
				<button class="btn-bars">
					<i class="fas fa-bars"></i>
				</button>
				<h1 class="logo-text">
					<a href="<%= root_path %>"> 漫画 BUNNY</a>
				</h1>
			</div>
			<div class="col text-center nav-center">
				<input type="search" class="searchbox" placeholder="Search ...">
			</div>
			<div class="col text-right">
				<button class="btn btn-primary btn-signin">Sign in</button>
			</div>
		</div>
	</nav>

</div>