<div class="navigation">
	<nav class="navbar bg-white bg-shadow">
		<div class="row">
			<div class="col text-left">
				<button class="btn-bars" id="btnShow">
					<i class="fas fa-bars"></i>
				</button>
				<h1 class="logo-text">
					<a href="<%= root_path %>"> 漫画 BUNNY</a>
				</h1>
			</div>
			<div class="col text-center nav-center">
				<input type="search" class="searchbox" placeholder="Search ..." ng-model="searchq">
				<div class="searchRes" ng-controller="searchController" ng-show="searchq.length > 0">
					<ul>
						<li ng-repeat="post in posts | limitTo : 3| filter : searchq  ">
							<a href="{{post.url_html}}">
							{{ post.title }} <br>
							<span class="badge badge-light">{{ post.sites_json[0] }}</span>
							<span class="badge badge-light">{{ post.time_ago }}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col text-right">

				<% if user_signed_in? %>
					<%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn bnt-primary") %> 
				<% else %>
					<button class="btn btn-primary btn-signin" onclick="window.location.href='<%= new_user_session_path %>'">
						Sign in
					</buttaon>
				<% end %>

			</div>
		</div>
	</nav>

</div>

<%= render 'navs/sidemenu' %>