<aside class="sidemenu">
	<div class="top_fixed">
		<button class="btn-bars" id="btnHide">
			<i class="fas fa-times"></i>
		</button>
	</div>

	<div class="main">
		<ul>
			<a href="#jj"><li>Anime</li></a>
			<a href="#jj"><li>Anime</li></a>
			<a href="#jj"><li>Anime</li></a>
			<a href="#jj"><li>Anime</li></a>
			<a href="#jj"><li>Anime</li></a>
			
		</ul>
	</div>
	<div class="footer">
		<h1>Footer</h1>
	</div>
</aside>
