.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.blackedout {
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-top: 1px solid #f1f1f1;
    background: white;
    position: relative;
}


.fixedadvert {
	position: fixed;
	top: 90;
}